 <nav id="sidebar" class="sidebar-nav">
            <div class="header-logo">
                <a class="navbar-brand no-margin main-logo" href="#"><img src="images/logo.png" alt="logo"></a>
                <a class="navbar-brand-logo" href="#"><img src="images/icon.png" alt="logo icon"></a>
            </div>
            <div class="user-panel">
                <div class="media">
                    <div class="pr">
                        <img src="images/user.jpg" alt="User">
                    </div>
                    <div class="media-body p-l-10 p-t-5">
                        <h6 class="mt-0 m-b-0">David Smith</h6>
                        <span class="title">ADMIN</span>
                    </div>
                </div>
                <a class="close-btn" href="#">X</a>
            </div>
            <ul class="vertical-nav-menu metismenu in" id="menu1">
                <li class="nav-title"><span class="title">MAIN</span></li>
                <li><a href="index-2.html" class="active"><i class="lni-dashboard"></i><span>Dashboard</span></a></li>
                <li>
                    <a class="has-arrow" href="#" aria-expanded="false"><i class="lni-add-file"></i><span>Pages</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="login.html">Login</a></li>
                        <li> <a href="register.html">Register</a></li>
                        <li> <a href="invoice.html">Invoice</a></li>
                        <li> <a href="profile.html">Profile</a></li>
                        <li> <a href="gallery.html">Gallery</a></li>
                        <li> <a href="pricing.html">Pricing</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow" href="#" aria-expanded="false"><i class="lni-bar-chart"></i><span>Charts</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="chartjs.html">Charts js</a></li>
                        <li><a href="flotcharts.html">Flot Charts</a></li>
                        <li><a href="peitychart.html">Peity Chart</a></li>
                        <li><a href="rickshawchart.html">Rickshaw Chart</a></li>
                        
                    </ul>
                </li>
                <li class="nav-title"><span class="title">FEATURES</span></li>
                <li>
                    <a class="has-arrow" href="#"><i class="lni-ruler-pencil"></i><span>UI Kits</span></a>
                    <ul>
                        <li><a href="ui-button.html">Button</a></li>
                        <li><a href="ui-dropdown.html">Dropdown</a></li>
                        <li><a href="ui-card.html">Card</a></li>
                        <li><a href="ui-badge.html">Badge</a></li>
                        <li><a href="ui-alert.html">Alert</a></li>
                        <li><a href="ui-list-group.html">List Group</a></li>
                        <li><a href="ui-timeline.html">Timeline</a></li>
                        <li><a href="typography.html">Typography</a></li>
                        <li><a href="icon.html">Icon</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow" href="#"><i class="lni-bookmark"></i><span>Widget</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="ui-widget-general.html">General</a></li>
                        <li><a href="ui-widget-advanced.html">Advanced</a></li>
                        <li><a href="ui-notification.html">Notification</a></li>
                        <li><a href="calendar.html">Calendar</a></li>
                    </ul>
                </li>
                <li class="nav-title"><span class="title">COMPONENT</span></li>
                <li>
                    <a class="has-arrow" href="#"><i class="lni-cog"></i><span>Advanced</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="modals.html">Modals</a></li>
                        <li><a href="tabs.html">Tab</a></li>
                        <li><a href="accordions.html">Accordions</a></li>
                        <li><a href="ui-toltips.html">Toltips</a></li>
                        <li><a href="slider.html">Slider</a></li>
                        <li><a href="ui-progress.html">Progressbar</a></li>
                        <li><a href="ui-rating.html">Rating</a></li>
                        <li><a href="pagination.html">Pagination</a></li>
                        <li><a href="ui-range-slider.html">Ragne Slider</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow" href="#"><i class="lni-grid-alt"></i><span>Table</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="basic-table.html">Basic</a></li>
                        <li><a href="data-table.html">Data Table</a></li>
                        <li><a href="grid-table.html">Grid Table</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow" href="#"><i class="lni-layout"></i><span>Form</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="basic-form.html">Basic</a></li>
                        <li><a href="input-form.html">Input Group</a></li>
                        <li><a href="controls-form.html">Controll</a></li>
                        <li><a href="grid-form.html">Grid</a></li>
                        <li><a href="validation-form.html">Validation</a></li>
                    </ul>
                </li>
                <li><a class="has-arrow" href="map.html"><i class="lni-map"></i><span>Map</span></a></li>
                <li class="nav-title"><span class="title">DOCUMENTATION</span></li>
                <li>
                    <a href="../documentation/doc.html"><i class="lni-library"></i><span>Doc</span></a>
                </li>
            </ul>
        </nav> 