<!doctype html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="images/favicon/favicon.ico" type="image/x-icon">
    <link href="css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="css/vendor/LineIcons.min.css" rel="stylesheet">
    <link href="css/vendor/metisMenu.min.css" rel="stylesheet">
    <link href="css/vendor/mm-vertical.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <title>Admin</title>
  </head>
  <body>

    <div class="page-container"> 

  
  {{> nav }}
  <div class="main-content">
            <div class="top-header">
                <div class="row">
                    <div class="nav-btn-area">
                        <div class="clearfix"></div>
                        <div id="sidebarCollapse" class="nav-btn float-left p-t-15">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="custom-menu">
                            <nav class="navbar no-padding navbar-expand-sm float-right">
                                <ul>
                                    <li><a href="#" data-toggle="dropdown"><i class="lni-search"></i></a></li>
                                    <li>
                                        <a href="#" data-toggle="dropdown"><img class="w-20" src="images/language/language.png" alt="Language"></a>
                                        <div class="language-dropdown dropdown-menu">
                                            <a href="#"><img src="images/language/spain.png" alt="Spain">Spain</a>
                                            <a href="#"><img src="images/language/china.png" alt="China">Chines</a>
                                            <a href="#"><img src="images/language/german.png" alt="German">German</a>
                                            <a href="#"><img src="images/language/dutch.png" alt="Dutch">Doutch</a>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="dropdown">
                                            <i class="lni-envelope"></i>
                                        </a>
                                        <div class="notification-dropdown message-dropdown dropdown-menu">
                                            <a class="text-center" href="#"><span class="notification-title">3 New Message</span></a>
                                            <div class="dropdown-divider m-t-10"></div>
                                            <a class="dropdown-item" href="#">
                                                <div class="d-flex">
                                                    <div class="img-content m-r-10">
                                                        <img class="w-45 m-t-8 rounded-circle" src="images/notification-1.jpg" alt="">
                                                    </div>
                                                    <div class="notification-content">
                                                        <div class="notification-category">
                                                            <span class="notification-title">David Alario</span>
                                                            <p>Your website’s active users count increased by <br>in the last week. Great job!</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <div class="d-flex">
                                                    <div class="img-content m-r-10">
                                                        <img class="w-45 m-t-8 rounded-circle" src="images/widget/anderson.jpg" alt="">
                                                    </div>
                                                    <div class="notification-content">
                                                        <div class="notification-category">
                                                            <span class="notification-title">Alexix Reo</span>
                                                            <p>Your website’s active users count increased by <br>in the last week. Great job!</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <div class="d-flex">
                                                    <div class="img-content m-r-10">
                                                        <img class="w-45 m-t-8 rounded-circle" src="images/widget/adnan.jpg" alt="">
                                                    </div>
                                                    <div class="notification-content">
                                                        <div class="notification-category">
                                                            <span class="notification-title">Adnan</span>
                                                            <p>Your website’s active users count increased by <br>in the last week. Great job!</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="dropdown-divider m-b-10"></div>
                                            <a class="dropdown-item text-center" href="#"><span class="notification-title">View All</span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="dropdown">
                                            <i class="lni-alarm"></i>
                                        </a>
                                        <div class="notification-dropdown dropdown-menu">
                                            <a class="dropdown-item text-center" href="#"><span class="notification-title">Recent Notification</span></a>
                                            <div class="dropdown-divider m-t-10"></div>
                                            <a class="dropdown-item" href="#">
                                                <div class="d-flex">
                                                    <div class="img-content m-r-10">
                                                            <img class="w-45 m-t-8 rounded-circle" src="images/widget/3.jpg" alt="">
                                                    </div>
                                                    <div class="notification-content">
                                                        <div class="notification-category">
                                                            <span class="notification-title">New user registered</span>
                                                            <p>Your website’s active users count increased by <br>in the last week. Great job!</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <div class="d-flex">
                                                    <div class="img-content m-r-10">
                                                        <img class="w-45 m-t-8 rounded-circle" src="images/widget/adnan.jpg" alt="">
                                                    </div>
                                                    <div class="notification-content">
                                                        <div class="notification-category">
                                                            <span class="notification-title">Order confirm</span>
                                                            <p>Your website’s active users count increased by <br>in the last week. Great job!</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <div class="d-flex">
                                                    <div class="img-content m-r-10">
                                                        <img class="w-45 m-t-8 rounded-circle" src="images/widget/anderson.jpg" alt="">
                                                    </div>
                                                    <div class="notification-content">
                                                        <div class="notification-category">
                                                            <span class="notification-title">User deleted</span>
                                                            <p>Your website’s active users count increased by <br>in the last week. Great job!</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="dropdown-divider m-b-10"></div>
                                            <a class="text-center" href="#"><span class="notification-title">View All</span></a>
                                        </div>
                                    </li>
                                    <li class="p-r-0">
                                        <a href="#" data-toggle="dropdown"><img class="rounded-circle w-30" src="images/widget/1.jpg" alt="User"></a>
                                        <div class="user-dropdown dropdown-menu">
                                            <a href="#"><i class="lni-user"></i>Profile</a>
                                            <a href="#"><i class="lni-cog"></i>Setting</a>
                                            <a href="#"><i class="lni-ticket-alt"></i>My Task</a>
                                            <div class="dropdown-divider"></div>
                                            <a href="#"><i class="lni-unlock"></i> Logout</a>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-lg-12 col-md-12 col-12">
                        <div class="breadcrumbs-area clearfix">
                            <h2 class="page-title float-left">Dashboard</h2>
                            <ul class="breadcrumbs float-right">
                                <li><a href="index-2.html">Home</a></li>
                                <li><span>Dashboard</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
 <div class="body-content">
            {{> content}}
            </div>
     </div>

    <aside class="control-sidebar control-sidebar-dark">
    </aside>
  </div>
  
    {{> footer}}
</div>

    <!--JavaScript File -->
    <script src="js/vendor/popper.min.js"></script>
    <script src="js/jquery-3.4.0.min.js"></script>
    <!--Bootstrap Js -->
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/metisMenu.js"></script>
    <script src="js/vendor/simple-lightbox.min.js"></script>
    <script src="js/vendor/jquery-ui.min.js"></script>
    <script src="js/vendor/progressbar.js"></script>
    <script src="js/vendor/chart/Chart.js"></script>
    <script src="js/vendor/chart/chart-init.js"></script>
    <script src="js/vendor/chart/progress-init.js"></script>
    <script src="js/custom.js"></script>
    <script>
            
    </script>
  </body>
  </html>